<Configuration>
	<Modules>
		<Module>
			<Name>Java</Name>
			<Executables>
				<Executable>
					<Compiler>
						<Version>1.8.0_191</Version>
						<Path>/usr/bin/javac</Path>
					</Compiler>
					<Runtime>
						<Version>1.8.0_191</Version>
						<Path>/usr/bin/java</Path>
					</Runtime>
				</Executable>
			</Executables>
		</Module>
		<Module>
			<Name>C++</Name>
			<Executables>
				<Executable>
					<Compiler>
						<Version>Ubuntu 5.4.0-6ubuntu1~16.04.10</Version>
						<Path>/usr/bin/c++</Path>
					</Compiler>
					<Runtime/>
				</Executable>
			</Executables>
		</Module>
		<Module>
			<Name>C</Name>
			<Executables>
				<Executable>
					<Compiler>
						<Version>Ubuntu 5.4.0-6ubuntu1~16.04.10</Version>
						<Path>/usr/bin/gcc</Path>
					</Compiler>
					<Runtime/>
				</Executable>
			</Executables>
		</Module>
	</Modules>
</Configuration>
