<Configuration>
	<Modules>
		<Module>
			<Name>java</Name>
			<Executables>
				<Executable>
					<Version>1.8.0_191</Version>
					<Path>/usr/bin/javac</Path>
				</Executable>
				<Executable>
					<Version>1.8.0_191</Version>
					<Path>/usr/bin/java</Path>
				</Executable>
			</Executables>
		</Module>
				<Module>
			<Name>java1</Name>
			<Executables>
				<Executable>
					<Version>1.8.0_191</Version>
					<Path>/usr/bin/javac</Path>
				</Executable>
				<Executable>
					<Version>1.8.0_191</Version>
					<Path>/usr/bin/java</Path>
				</Executable>
			</Executables>
		</Module>
				<Module>
			<Name>java2</Name>
			<Executables>
				<Executable>
					<Version>1.8.0_191</Version>
					<Path>/usr/bin/javac</Path>
				</Executable>
				<Executable>
					<Version>1.8.0_191</Version>
					<Path>/usr/bin/java</Path>
				</Executable>
			</Executables>
		</Module>
	</Modules>
</Configuration>
