body {  
    margin: 0;
    padding: 0;
    background-color: #c2c2c2;
}

.container {
	padding-left: 10%;
	padding-right: 10%;
    min-height: 100vh;
}

.main {
	background-color: #ffffff;
    min-height: 100vh;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ADFF2F;
}

tr:nth-child(odd) {
    background-color: #F0FFF0;
}

input[type=file], input[type=date], input[type="text"] {
    padding: 12px 20px;
    margin: 8px 0;
}

.assignment-content {
    background-color: #FAF0E6;
    height: 700px;
    width: 72%;
    padding: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    overflow-y: scroll;
    display: inline-block;
}

.upload-homework input {
    display: block;
}

#upload-failed {
    padding: 2%;
    color: red;
}

.main-container  {
    padding: 5%;
}

.main-container a {
    text-decoration: none;
    color: blue;
}

.homework-info {
    float: left;
    margin-right: 27px;
    background-color: #FAF0E6;
    height: 700px;
    width: 25%;
    padding: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline-block;
}

h4 {
    display: inline;
}

#tests-block {
    background-color: #FAF0E6;
    padding: 2%;
    width: 95%;
}

.rating-img {
    width: 20px;
    height: 20px;
}

.module {
    background-color: #FAF0E6;
    padding: 15px;
    margin-bottom: 5px;
}