body {
	margin: 0;
	padding: 0;
}

.container {
	padding-left: 10%;
	padding-right: 10%;
	background-color: #c2c2c2;
}

.main {
	height: 100vh;
	background-color: #ffffff;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ADFF2F;
}

tr:nth-child(odd) {
    background-color: #F0FFF0;
}