body {  
    margin: 0;
    padding: 0;
    background-color: #c2c2c2;
}

.container {
	padding-left: 10%;
	padding-right: 10%;
    min-height: 100vh;
}

.main {
	background-color: #ffffff;
    min-height: 100vh;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ADFF2F;
}

tr:nth-child(odd) {
    background-color: #F0FFF0;
}

input[type=file], input[type=date], input[type="text"] {
    padding: 12px 20px;
    margin: 8px 0;
}

.assignment-content {
    background-color: #FAF0E6;
    height: 700px;
    width: 72%;
    padding: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    overflow-y: scroll;
    display: inline-block;
}

.upload-homework input {
    display: block;
}

#error-panel {
    padding: 1%;
    color: red;
    position: fixed; 
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    z-index:99;
    border: 1px solid #ccc;
    background-color: #c2c2c2;
    font-size: 17px;
    font-weight: bold;
    word-break: break-all;
}

.main-container  {
    padding: 5%;
}

.main-container a {
    text-decoration: none;
    color: blue;
}

.homework-info {
    float: left;
    margin-right: 27px;
    background-color: #FAF0E6;
    height: 700px;
    width: 25%;
    padding: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline-block;
}

h4 {
    display: inline;
}

#tests-block {
    background-color: #FAF0E6;
    padding: 2%;
    width: 95%;
}

.rating-img {
    width: 20px;
    height: 20px;
}

.module {
    background-color: #FAF0E6;
    padding: 15px;
    margin-bottom: 5px;
}

.module:hover:not(.selectedModule) {
    background-color: #FFEBCD;
}

.selectedModule {
    background-color: #ADFF2F;
}

.config-navbar input {
    width: 55px;
    height: 55px;

    /* Hide the text. */
    text-indent: -9999px; /* sends the text off the screen */
    white-space: nowrap;
    overflow: hidden;

    border: none;
}

.config-navbar .add {
    background: url(../resources/add.png) no-repeat scroll;
    background-size: 55px 55px;
}

.config-navbar .remove {
    background:url(../resources/remove.png) no-repeat scroll;
    background-size: 55px 55px;
}

.config-navbar .edit {
    background:url(../resources/edit.png) no-repeat scroll;
    background-size: 55px 55px;
}

#homework-upload-panel {
    padding: 1%;
    color: red;
    position: fixed; 
    top: 45%;
    left: 45%;
    width:35em;
    height:25em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    z-index:99;
    border: 1px solid #ccc;
    background-color: #c2c2c2;
    font-size: 17px;
    font-weight: bold;
    word-break: break-all;
}

.close {
  cursor: pointer;
  position: absolute;
  color: black;
  right: 0%;    
  padding: 12px 10px;
  transform: translate(0%, -40%);
}

.close:hover {
    background: gray;
}

#user-input-area {
    width: 40em;
    height: 20em;
    align-content: center;
    overflow: auto;
    display: none;
}